@using Hrms.Models.DTO
@model Department

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Department</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Display">Home</a></li>
                <li class="breadcrumb-item">Department</li>
                <li class="breadcrumb-item active"><a asp-controller="Admin" asp-action="Add">Add Department </a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add Department</h5>
                        <form asp-controller="Admin" asp-action="Dept" method="post" class="row" novalidate>
                            <div class="col-6">
                                <label asp-for="Name" class="form-label">Department Name<span class="text-danger">*</span></label>
                                <input asp-for="Name" class="form-control" placeholder="Enter department name.." />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <label asp-for="Code" class="form-label">Department Code<span class="text-danger">*</span></label>
                                <input asp-for="Code" class="form-control" placeholder="For example: NET001" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                            <div class="text-right mt-4">
                                <button type="submit" class="btn btn-sm btn-danger">Add Department</button>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>
                        

                    </div>

                </div>
            </div>
        </div>
    </section>
   
</main>