@model Hrms.Models.DTO.ChangePasswordModel

<main id="main" class="main">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Change Password</h5>
                     
                        <form asp-action="ChangePassword" method="post" class="row">
                            <div class="col-4">
                                <label>Current Password<span class="text-danger">*</span></label>
                                <input type="password" class="form-control" asp-for="CurrentPassword" />
                                <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                            </div>

                            <div class="col-4">
                                <label>New Password<span class="text-danger">*</span></label>
                                <input type="password" class="form-control" asp-for="NewPassword" />
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>

                            <div class="col-4">
                                <label>Confirm New Password<span class="text-danger">*</span></label>
                                <input type="password" class="form-control" asp-for="PasswordConfirm" />
                                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>

                            </div>

                            @if (TempData["msg"] != null)
                            {
                                <div class="form-group">
                                    <span class="text-info">@TempData["msg"]</span>
                                </div>
                            }
                            <div class="text-right mt-4">
                                <button type="submit" class="btn btn-sm btn-danger">Save</button>
                            </div>

                        </form>


                    </div>

                </div>
            </div>
        </div>
    </section>
    </main>